html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem;
    background: #ecf0f1;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#home input {
    width: 60%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #3498db;
    border-radius: 4px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#home input[type=text]:focus {
    width: 70%;
}

#configuration {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

#configuration-content {
    padding: 24px;
}

#example {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navigation {
    position: absolute;
    left: 10%;
    top: 5px;
    width: 80%;
    height: 2.5rem;
}

.url-text {
    margin-top: 1rem;
}

.chain-select {
    margin-top: 1rem;
}

.config-form {
    min-width: 60%;
    margin-top: 2.5rem;
}

.copy-url-clipboard {
    margin-top: 5rem;
}

.nft-image {
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

.nft-input {
    margin-top: 1rem;
    margin-inline: auto;
}

.nft-input input[type=text] {
    padding: 12px 60px;
    background-image: url('icon--primary-on-transparent.svg');
    background-size: 32px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}


#login-main {
    min-height: 200px;
}

.footer {
    margin: auto;
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 2.5rem;
}

// styles

.card {
    padding: 1rem;
}

h1 {
    color: #3498db;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 1rem;
        padding: 20px;
    }

    #home input, .config-form {
        width: 100%;
    }

    .navigation {
        width: 100%;
        left: 0;
        justify-content: space-between;
    }

    .navigation, .footer {
        width: 100%;
    }

    .nft-input {
        margin-top: 0rem;
    }

    .nft-input input[type=text] {
        padding: 8px 40px;
        background-size: 24px;
    }

    .config-form {
        margin-top: 0rem;
        padding: 0;
        font-size: small;
    }

    .url-text textarea {
        width: 100%;
    }

    .copy-url-clipboard {
        margin-top: 1rem;
    }

    button {
        scale: 0.8;
        padding: 5px 10px;
    }
}
